# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db
*.sqlite3

# VS Code settings
.vscode/

# Environment files
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db

# Python virtual environment
pip-wheel-metadata/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
